@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);


body {
  background-color: #f1f1f1;
  color: #1c1e21;
  line-height: 1.34;
  margin: 0;
  padding: 0%;
  direction: ltr;
  display: flex;
  flex-direction: row;

}

body,
button,
input,
label,
select,
td,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.conteiner img {
  width: 280px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 550px;
  padding: 0 116px;
}

.logincase {
  flex: 1;
}

.linediv {
  border-bottom: 1px solid #dadde1;
  width: 85%;
  margin-bottom: 20px;
}

form,
.sub-login-case {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logincase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logincase input {
  padding: 15px;
  font-size: 17px;
  margin: 7.5px 15px;
  outline: none;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  width: 350px;
}

.logincase input[type='submit'] {
  background-color: #1877f2;
  font-size: 20px;
  line-height: 40px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: .2s;
}

.logincase button {
  background-color: #36a420;
  font-size: 18px;
  line-height: 40px;
  padding: 3px 15px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  border: none;
  margin: 8px 0;
  font-weight: 600;
}

.sub-login-case button:hover {
  background-color: #33921f;
}

.logincase input[type='submit']:hover {
  background-color: #196cda;
}



.logincase input::placeholder {
  opacity: 20%;
}

.logincase input:focus {
  outline: 1px solid #0e80c2cc;
  box-shadow: .5px 0 2.5px #181818e1;
}

.logincase span {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}

.logincase a {
  text-decoration: none;
}

.conteiner h2 {
  font-size: 28px;
  line-height: 32px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.sub-login-case {
  box-shadow: 2px 2px 8px #3a3a3a4d;
  border-radius: 10px;

  background-color: #ffffffde;
  padding: 15px 0;
}

.endmessage {
  font-size: 14px;
  text-align: center;
}

.endmessage a {
  color: #000000;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}